html {
  scrollbar-gutter: stable;
}

.module-border-wrap {
  padding: 1rem;
  background: linear-gradient(to right, lightblue, purple);
  padding: 2px;
}

@keyframes gradient-morph {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  animation: gradient-morph 6s ease infinite;
  background-size: 200% 200%;
}

.context-menu {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transform: scale(0.8);
  transform-origin: bottom left; /* Fold effect originates from bottom left */
  pointer-events: none; /* Prevent clicks on hidden menu */
  transition: opacity 0.1s ease, transform 0.1s ease; /* Smooth transition */
}

.context-menu.open {
  opacity: 1;
  transform: scale(1);
  pointer-events: auto; /* Enable clicks when the menu is visible */
}
