/* ThemeToggle.css */

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.duration-300 {
  transition-duration: 300ms;
}

.peer:checked + span {
  transform: translateX(1.5rem); /* Adjust based on your toggle size */
}

/* Basic Light/Dark Mode Transition */
html {
  transition: background-color 0.3s ease, color 0.3s ease;
}

[data-theme='light'] {
  background-color: #f0f0f0;
  color: #333;
}

[data-theme='dark'] {
  background-color: #333;
  color: #f0f0f0;
}
