@import "tailwindcss";

p {
  @apply mb-4; /* Adjust the value as needed */
}

/* headings */
.markdown h2 {
  @apply text-xl font-bold mb-2; /* Adjust the value as needed */
}

.markdown h3 {
  @apply text-lg font-bold mb-2; /* Adjust the value as needed */
}

/* lists */
.markdown ul {
  list-style-type: disc; /* Or any other list style */
  padding-left: 1.5rem; /* Adjust padding as needed */
  margin-bottom: 1rem;
}

.markdown ol {
  list-style-type: decimal;
  padding-left: 1.5rem;
  margin-bottom: 1rem;
}

.markdown li {
  margin-bottom: 0.5rem; /* Adjust spacing between list items */
}

